<mat-toolbar>
  <span>LOGIN</span>
</mat-toolbar>

<form [formGroup]="loginForm" (ngSubmit)="loginAction()" novalidate>
<mat-card class="my-card">
  <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input  matInput  placeholder="Email" name="email" class="form-control" formControlName="email">
      </mat-form-field>
    <br/>
    <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput  placeholder="Password" name="password" class="form-control" formControlName="password" type="password">
      </mat-form-field>
    <br/>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="loginAction()">LOGIN</button>
  </mat-card-actions>
  <div *ngIf="validMessage != ''">
    <h3 class = "has-info">{{validMessage}}</h3>
  </div>
</mat-card>

</form>
