<mat-toolbar>
  <span>LOGIN</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input  matInput  placeholder="Email" name="email">
      </mat-form-field>
    <br/>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput  placeholder="Password" name="password">
      </mat-form-field>
    <br/>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">LOGIN</button>
  </mat-card-actions>
</mat-card>
