<div mat-dialog-content>
  <form [formGroup]="biddingForm" (ngSubmit)="placeBid()" novalidate>
<!--  <h1 mat-dialog-title>Hi {{data.id}}</h1>-->
    <mat-form-field class="full-width">
      <mat-label>Bid Amount</mat-label>
      <input class = "form-control" formControlName="amount" matInput  placeholder="Amount"  name="amount"  required>
    </mat-form-field>
  <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button  cdkFocusInitial>Ok</button>
  <div *ngIf="validMessage != '' ">
    <h3 class="has-info">{{validMessage}}</h3>
  </div>
  </div>
  </form>

</div>
